* {
  position: relative;
  box-sizing: border-box;
}

.container {
  padding: 0 15rem;
  position: relative;
}

.iconContain {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  span {
    font-size: 10px;
    white-space: nowrap;
    min-width: fit-content;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC',
      'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
    text-rendering: optimizeLegibility;
  }
  img {
    height: 16px;
    cursor: pointer;
  }
}
