.productCardContainer {
  background-color: white;
  width: 313px;
  height: 498px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 16px;
  transition: transform 0.5s ease;

  img {
    width: 100%;
    height: auto;
    padding-bottom: 85px;
  }

  * {
    margin: 0;
    transition: transform 0.5s ease;
  }

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .label {
    position: absolute;
    top: 355px;
    left: 30px;
    font-size: 10px;
    color: #7d5f26;
  }

  .title {
    padding-top: 5px;
  }

  .price {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
  }
}
