.shippingCartItemContainer {
  width: 100%;
  min-width: 1000px; // adjust the width of the container
  display: flex;
  flex-direction: column;
  gap: 15px;

  .gridContainer {
    display: grid;
    grid-template-columns: 3fr repeat(5, 2.5fr);
    gap: 10px;
    .gridItem {
      text-align: center;
      overflow-wrap: break-word;
      padding: 15px 0;
    }
  }

  .cartHeader,
  .cartBody {
    background-color: white;
    border-radius: 10px;
  }

  .cartBody {
    .gridContainer {
      border-bottom: 1px solid #e5e5e7;
      padding: 10px 0;
    }
    .gridContainer:last-child {
      border-bottom: none;
    }
  }
}
