.shoppingCartContainer {
  padding: 20px;
  height: 100vh;

  .loginContainer,
  .loggedInContainer {
    border: 1px solid blue;
    max-width: 640px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;

    h2 {
      text-align: center;
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    .checkboxContainer {
      display: flex;
      gap: 10px;
    }
    .loginButton {
      width: 100px;
      height: 30px;
      font-size: 16px;
    }
    .inputContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      input {
        width: 480px;
        height: 56px;
        font-size: 16px;
        border: 1px solid #d2d2d7;
        border-radius: 10px;
        padding: 0 16px;
        outline: none;
      }
    }
  }
}
