.slickLargeContainer {
  padding-bottom: 80px;
  position: relative;
  .slickLargeTitle {
    padding-left: 10%;
  }
  .sliderContainer {
    padding-top: 24px;
  }
  .slick-track {
    display: flex;
    gap: -0.5rem;
  }
}
