.ContainerWrapper {
  padding: 0 20% 0 20%;
}

.statementContainer {
  border-bottom: 1px solid black;
  width: 897px;
  padding: 17px 0 11px 0;
  font-size: 12px;
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
