.storeCardContainer {
  background-color: white;
  width: 313px;
  height: 260px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
  border-radius: 16px;
  transition: transform 0.5s ease;

  img {
    width: 40px;
    height: auto;
  }

  * {
    margin: 0;
    transition: transform 0.5s ease;
  }

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}
